.container
    margin: 0 auto
    width: 50%
    
.inputLabel
    display: block
    font-weight: bold
.regInput
    display: block
    margin: 0 auto
    margin-bottom: 30px

.error 
    color: red

.errorMsg
    color: red
    font-size: small

.hideError
    display: none